<?xml version="1.0" encoding="utf-8"?>
<manifest package="net.adaiandy.imtalker"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Main">
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.MAIN"/>
                <!-- <action android:name="android.intent.action.CREATE_SHORTCUT"></action> -->
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.EXTRA_APP_OPEN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        />
        
        <activity android:name=".activities.AccountActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.Account">
        </activity>
        

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>